<!DOCTYPE html>
<html>
<head>
  <title>DoSomthIn</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">

		<header class="header">
			<%= render :header %>
		</div>

		<%= yield %>

		<footer class="footer">
			<%= render :footer %>
		</footer>

	</div> <!-- /container -->

</body>
</html>
